.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(255, 111, 97, 0.25);
  background-color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1.5rem rgba(255, 111, 97, 0.4);
  transform: translateY(-0.1rem);
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #ff6f61;
  color: #ffffff;
  border-radius: 10px 0 0 10px;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  border-radius: 0 10px 10px 0;
}

.correct {
  background-color: #4caf50;
  color: #ffffff;
}

.incorrect {
  background-color: #f44336;
  color: #ffffff;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  color: #ff6f61;
}

.hud-main-text {
  text-align: center;
  font-size: 2.4rem;
  color: #333;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #ff6f61;
  margin-top: 1.5rem;
  border-radius: 20px;
  background-color: #f5f5f5;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #ff6f61;
  width: 0%;
  border-radius: 20px;
}

/* LOADER */
#loader {
  border: 1.6rem solid #ffffff;
  border-radius: 50%;
  border-top: 1.6rem solid #ff6f61;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
